.small-card{
    border: 2px solid black;
    width: 700px;
    margin-left: 25px;
    display: flex;
    flex-direction:row;
}
.small-card-image{    
    margin-right: 15px;
}

.titulo-texto{
    display: flex;
    flex-direction:column;
    margin-right: 10px;
}